{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1> Liste des Utilisateurs : </h1>


<table class="table table-hover table-bordered table-striped" style="border-collapse: separate; border-spacing: 5px;">
{% for user in users %}
<tr>
    <td>
        id n° {{ user.id }}. Nom : <a href="{{ url_for('update', id=user.id)  }}">{{ user.name }}</a> - @ : {{ user.email }} - <a href="{{ url_for('delete', id=user.id) }}">Supprimer</a>
        <br>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}